@model CustomerViewModel
@{

    var imagePath = "~/images/customer_images/" + (Model.ImageName ?? "noI.png");
}
<div class="row">
    <div class="col-md-12 mx-auto">
        <form asp-action="Edit" asp-controller="Customer" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <input type="hidden" asp-for="ImageName" />
            <div class="form-group mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group position-relative mb-3">
                <label asp-for="DateOfBirth" class="form-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="City" class="form-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PostCode" class="form-label"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Photo" class="form-label mb-3"></label>
                <img src="@imagePath" style="height:90px!important; width:auto!important;" class="form-control change_edit mb-3" asp-append-version="true" />
                <input asp-for="Photo"  class="form-control change_image" type="file" />
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Edit" class="btn btn-primary" />
                <input type="button" value="Cancel" data-bs-dismiss="modal" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script src="~/CustomJS/JavaScript.js"></script>