
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="text-center">Tech Cars</h1>
    <img src="~/images/app_images/home.jpg" style="width:100%" />
</div>
   

   


